<div class="row">
  <div class="col-md-5">
    <!--Add tag to load the DocumentListComponent here-->
    <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
  </div>

  <div class="col-md-4">
    <!-- LOADING ROUTER FOR SUB COMPONENTS -->
    <router-outlet></router-outlet>
  </div>

  <ng-template #infoText>
    <div class="list-group main-container">
        <div class="list-group-item">
            <p><b><i>A Selected Document Will Appear Here</i></b></p>
        </div>
    </div>
  </ng-template>

</div>