<ul class="list-group">

    <div class="list-group-item row light-grey-color">
        <div class="col-xs-12">
            <h1 class="pull-left">Contacts</h1>
            
            <button class="pull-right btn btn-success">
                Add New Contact
            </button>
        </div>
    </div>

    <div class="list-group-item row">
        <div class="col-xs-12">
        <!-- A single contact item -- several similar will be created according to size of array recipes-->
        <a *ngFor='let contact of contacts' href="#" class="list-group-item clearfix contact-color-change">
            
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{contact.name}}</h4>
                <p class="list-group-item-text">{{contact.email}}</p>
            </div>

            <span class="pull-right">
                <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 70px;">
                <!-- Linking image with data binding -->
                <!-- <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;"> -->
            </span>
        </a>
        </div>
    </div>
    
</ul>



