.light-grey-color {
    background-color: #eee;
}

.light-grey-color button {
    margin-top: 22px;
}

.contact-color-change:nth-child(even) {
   background-color: #eee; 
}

.panel-heading {
    padding: 4rem;
    border: 1px dotted #eee;
}