<ul class="list-group">

    <div class="list-group-item row light-grey-color">
        <div class="col-xs-12">
            <h1 class="pull-left">Contacts</h1>
            
            <button class="pull-right btn btn-success">
                Add New Contact
            </button>
        </div>
    </div>

    <div class="list-group-item row">
        <div class="col-xs-12">
        <!-- PASSING DATA FROM PARENT TO SUB COMPONENT -->
        <cms-contact-item 
            *ngFor='let contactElement of contacts'
            [contact]="contactElement"
            (click)="onSelected(contactElement)">
        </cms-contact-item>
        
        </div>
    </div>
    
</ul>



