.main-container {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.image-and-button-holder {
    display: flex;
    gap: 70px;
}

.buttons-container button {
    margin-top: 10px;
    margin: 5px;
}

.down p {
    font-size: 15px;
}