
<div class="list-group main-container">

    <div class="list-group-item top">
        <h1>{{contact.name}}</h1>

        <div class="image-and-button-holder">
            <div class="pull-right">
                <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 200px;">
            </div>
            
            <div class="pull-left buttons-container">
                <a routerLink="edit" class="btn btn-primary">Edit</a>
                <a (click)="onDelete()" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    <div class="list-group-item down">
        <p>Email: {{contact.email}}</p>
        <p>Phone: {{contact.phone}}</p>
    </div>

</div>






<!-- <div class="container" style="max-width: 500px; padding: 30px;border: 1px solid red;">
    
    <div class="row top">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1>Simon Mule</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="height: 250px; max-height: 250px;">
            </div>

             <div class="col-md-6 col-xs-6 btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Edit
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Delete
                </button>
            </div>
        </div>
    </div>

    <div class="row down">
        <div class="col-xs-12">
           <p><b>Email: </b>Simycodes@gmail.com</p>
           <p><b>Phone: </b>+260974372761</p>
        </div>
    </div>

</div> -->