<div class="container">
  <div class="row">
    <div class="col-xs-12">
        
       <h3>Using a structural custom directive</h3>

      <h3>Structural Directives ngSwitch="" *ngIf="" and *ngFor="" & attribute directives [ngClass]="" </h3>

       <!-- IMPLEMENTING ngSwitch -->
      <h2>IMPLEMENTING ngSwitch - Can replace using several *ngIf="" in conditional rendering</h2>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
      

      

     

    </div>
  </div>
</div>
