
<div class="container" style="max-width: 1000px; padding: 30px;">
    <div class="row">
<!-- bind the selectedContactEvent output from the ContactListComponent to a statement that
      will assign the data passed with the event to a local variable -->
        <div class="col-md-5">
            <cms-contact-list></cms-contact-list>
        </div>

        <div class="col-md-7">
            <!-- DISPLAY SUB COMPONENTS - EDIT  COMPONENT AND DETAILS -->
            <router-outlet></router-outlet>

            <ng-template #infoText>
                <div class="list-group main-container">
                    <div class="list-group-item">
                        <p><b><i>A Selected Contact Will Appear Here</i></b></p>
                    </div>
                </div>
            </ng-template>
            

        </div>
    </div> 
</div>


