<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- THE TS FORM IS CONNECTED TO THE HTML CODE USING THE [formGroup]="<name-of-ts-created-form>" DECORACTOR  -->
      <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">

          <div class="form-group">
          <label for="projectName">Project Name</label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control">
            <!-- DISPLAY MESSAGE OF FORM VALIDATION ERROR -->
            <!-- <span
              *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" 
              class="help-block">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">
                This name is invalid-forbidden
              </span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">
                This field is required
              </span>
            </span> -->
          </div>

          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <!-- <span
                *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" 
                class="help-block"
                >
              Please enter a valid email!
              </span> -->
          </div>

          <div class="form-group">
            <label for="status">Project Status</label>
            <select 
              name="status" 
              id="status" 
              class="form-control"
              formControlName="projectStatus">
              <option value="stable">Stable</option>
              <option value="critical">Critical</option>
              <option value="finished">Finished</option>
            </select>
          </div>

        <!-- ADDING AN INPUT DYNAMICALLY BY THE USER -->
        <!-- <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button 
            type="button"
            class="btn btn-default"
            (click)="onAddHobby()">
            Add Hobby
          </button>
          <div 
            class="form-group"
            *ngFor="let hobbyControl of getControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div> -->

        <button class="btn btn-primary" type="submit">Create Project</button>
        
      </form>
    </div>
  </div>
</div>
