
<!-- <div class="container" style="max-width: 1100px; padding: 30px; margin: 20px;">
    <div class="row">

        <div class="col-md-6">
            <app-meals-list></app-meals-list>
        </div>

        <div class="col-md-4">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div> -->

<section class="background" style="max-width: 1100px;">
    <div class="col-md-6">
        <app-meals-list></app-meals-list>
    </div>
    
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
    
</section>


