
<!-- [index] IS PASSED TO RECIPE DETAIL TO BE USED TO FETCH DATA IN THAT COMPONENT -->
<!-- [index] IS PASSED FROM RECIPE LIST TO RECIPE ITEM IN THE FOR LOOP -->
<a [routerLink]="[document.id]" routerLinkActive="active" class="list-group-item clearfix documentDiv" >
  <!-- Display document name here -->
  <div class="pull-left">
    <p class="list-group-item-heading">{{document.name}}</p>
    <!-- <p>id: {{document.id}}</p> -->
  </div>
</a>


<!-- A single contact item -- several similar will be created according to size of array recipes-->
<!-- <a href="#" class="list-group-item clearfix contact-color-change">
    
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{contact.name}}</h4>
        <p class="list-group-item-text">{{contact.email}}</p>
    </div>

    <span class="pull-right">
        <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 70px;">
    </span>
</a> -->